<h1>Coffee Finder</h1>

<form>
  Street Address: <input type="text" name="street"><br>
  City: <input type="text" name="city"><br>
  State: <input type="text" name="state" maxlength="2"><br>
  <input type="submit" value="Submit">
</form>

<div id="list">
  <div class="shop" id="0"></div>
  <div class="shop" id="1"></div>
  <div class="shop" id="2"></div>
  <div class="shop" id="3"></div>
  <div class="shop" id="4"></div>
  <div class="shop" id="5"></div>
  <div class="shop" id="6"></div>
  <div class="shop" id="7"></div>
  <div class="shop" id="8"></div>
  <div class="shop" id="9"></div>
  <div class="shop" id="10"></div>
</div>
